/*  */
.pass-button {
  font-size: 18px;
  width: 100%;
  padding: 14px 52px;
  border-radius: 16px;
  background: linear-gradient(90deg, #487afa, #23c0ad, #f1e821);
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pass-button:hover {
  scale: 1.06;
  background-color: #fde047;
  transition: all 0.5s;
}

.pass-container {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .pass-container {
    flex-direction: row; /* horizontal layout on bigger screens */
    width: 80%; /* change width if needed */
  }
}

@media (min-width: 800px) {
  .pass-container {
    flex-direction: column; /* horizontal layout on bigger screens */
    width: 80%; /* change width if needed */
  }
}
@media (min-width: 1100px) {
  .pass-container {
    flex-direction: row; /* horizontal layout on bigger screens */
    width: 80%; /* change width if needed */
  }
}
